@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,300;1,100;1,300&family=Public+Sans:ital,wght@0,300;1,300&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Public Sans', sans-serif;
    margin:0;
}

img {
    width:100%;
}

.desc {
    display:flex;
}

h3 {
    font-family: 'JetBrains Mono', monospace;
}

h1.big {
    font-size:220px;
    line-height:120%;
    text-align:right;
}

.arborvitae h1.big {
    color:#C5E6A6;
}

.callalily h1.big {
    color:#F9B5AC;
}

.basil h1.big {
    color:#CCC8F8;
    padding-left:100px;
}

.forget h1.big {
    color:#C6E0FF;
    padding-left:100px;
}

.arborvitae .desc {
    justify-content: flex-end;
    margin-right:60px;
    width:80%;
    margin:auto;
    padding-bottom:800px;
}

.arborvitae .desc p {
    width: 45%;
}

.callalily .desc {
    justify-content: flex-end;
    margin-right:60px;
    width:80%;
    margin:auto;
    padding-bottom:600px;
}

.callalily .desc p {
    width: 45%;
}

.basil .desc {
    justify-content: flex-start;
    width:80%;
    margin:auto;
    padding-bottom:700px;
}

.basil .desc p {
    width: 45%;
}

.forget .desc {
    justify-content: flex-start;
    width:80%;
    margin:auto;
    padding-bottom:500px;
}

.forget .desc p {
    width: 45%;
}

.flexbox {
    display:flex;
    width:80%;
    margin:auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.flexbox div {
    flex:1;
}

.flexbox .left {
 padding-right:40px;
}

.arborvitae h3 {
    background-image:url('assets/arb-icon.png');
    background-repeat: no-repeat;
    background-size:60px;
    background-position: 0 0;
    overflow:visible;
    padding-left:20px;
    padding-top:20px;
    padding-bottom:10px;
    margin:0;
}

.callalily h3 {
    background-image:url('assets/cal-icon.png');
    background-repeat: no-repeat;
    background-size:60px;
    background-position: 0 0;
    overflow:visible;
    padding-left:20px;
    padding-top:20px;
    padding-bottom:10px;
    margin:0;
}

.basil h3 {
    background-image:url('assets/bas.png');
    background-repeat: no-repeat;
    background-size:60px;
    background-position: 0 0;
    overflow:visible;
    padding-left:20px;
    padding-top:20px;
    padding-bottom:10px;
    margin:0;
}

.forget h3 {
    background-image:url('assets/forget-icon.png');
    background-repeat: no-repeat;
    background-size:60px;
    background-position: 0 0;
    overflow:visible;
    padding-left:20px;
    padding-top:20px;
    padding-bottom:10px;
    margin:0;
}

body.arborvitae {
background-image:url('assets/arborgraphic-bg.png');
background-size:60%;
background-repeat:no-repeat;
background-position: 0% 200px;
}

body.callalily {
    background-image:url('assets/callalily-bg.png');
    background-size:60%;
    background-repeat:no-repeat;
    background-position: 0% 200px;
}

body.basil {
    background-image:url('assets/basil-bg.png');
    background-size:60%;
    background-repeat:no-repeat;
    background-position: 100% 200px;
}

body.forget {
    background-image:url('assets/forget-bg.png');
    background-size:60%;
    background-repeat:no-repeat;
    background-position: 100% 200px;
}

h1.title  {
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;
    font-size: 128pt;
    text-align: center;
    margin-top: -63vh;
    z-index:-9;
    padding: 0;
}

.arborvitae h1 {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;
    font-size: 128pt;
    text-align: left;
    margin: 0;
    padding: 0;
}

.callalily h1 {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;
    font-size: 128pt;
    text-align: left;
    margin: 0;
    padding: 0;
}

.basil h1 {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;
    font-size: 128pt;
    text-align: left;
    margin: 0;
    padding: 0;
}

.forget h1 {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;
    font-size: 128pt;
    text-align: left;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;
    font-size: 45pt;
    text-align: left;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    padding: 30px;
}

.navbar img {
    width: 100px;
}

.navgrid {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 70px;
}

.navgrid div {
    flex: 50%;
}

.navgrid img {
    z-index: 99;
}

/* ARBORVITAE NAV */
.arborvitae .dropdown {
    overflow: hidden;
    padding-left:50px;
    padding-top:20px;
  }
  
  .arborvitae .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #C5E6A6;
    font-family: inherit;
    margin: 0;
  }
  
  .arborvitae .dropdown-content {
    display: none;
    position: absolute;
    background-color: #C5E6A6;
    min-width: 160px;
    z-index: 1;
  }
  
  .arborvitae .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .arborvitae .dropdown-content a:hover {
    background-color: white;
    color:#C5E6A6;
  }
  
  .arborvitae .dropdown:hover .dropdown-content {
    display: block;
  }

  /* CALLA LILY NAV */
.callalily .dropdown {
    overflow: hidden;
    padding-left:50px;
    padding-top:20px;
  }
  
  .callalily .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #F9B5AC;
    font-family: inherit;
    margin: 0;
  }
  
  .callalily .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9B5AC;
    min-width: 160px;
    z-index: 1;
  }
  
  .callalily .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .callalily .dropdown-content a:hover {
    background-color: white;
    color:#F9B5AC;
  }
  
  .callalily .dropdown:hover .dropdown-content {
    display: block;
  }

  /* BASIL NAV */
.basil .dropdown {
    overflow: hidden;
    padding-left:50px;
    padding-top:20px;
  }
  
  .basil .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #CCC8F8;
    font-family: inherit;
    margin: 0;
  }
  
  .basil .dropdown-content {
    display: none;
    position: absolute;
    background-color: #CCC8F8;
    min-width: 160px;
    z-index: 1;
  }
  
  .basil .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .basil .dropdown-content a:hover {
    background-color: white;
    color:#CCC8F8;
  }
  
  .basil .dropdown:hover .dropdown-content {
    display: block;
  }

    /* FORGET-ME-NOT NAV */
.forget .dropdown {
    overflow: hidden;
    padding-left:50px;
    padding-top:20px;
  }
  
  .forget .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #C6E0FF;
    font-family: inherit;
    margin: 0;
  }
  
  .forget .dropdown-content {
    display: none;
    position: absolute;
    background-color: #C6E0FF;
    min-width: 160px;
    z-index: 1;
  }
  
  .forget .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .forget .dropdown-content a:hover {
    background-color: white;
    color:#C6E0FF;
  }
  
  .forget .dropdown:hover .dropdown-content {
    display: block;
  }